
<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Profile</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
	<h2>{{user.name}}</h2>
	<h4>{{user.email}}</h4>
	<h4>{{user.number}}</h4>
	
	
	<p><u>about</u></p> 
	<p>{{user.about}}</p>
	
	<p><u>Education</u></p> 
	<p>{{user.education}}</p>
	
	<p><u>Skills</u></p> 
	<p>{{user.skills}}</p>
</body>
</html>
